* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Helvetica, sans-serif;
}
.header {
      background: linear-gradient(rgba(255, 255, 255, 0.733), rgba(255, 255, 255, 0.733)), url("images/pattern.jpeg");
      background-size: cover;
}

h1 {
      font-size: 100px;
      color: white;
      text-align: center;
      text-shadow: 2px 2px 2px #000000;
      font-weight: bold;
}

h2 {
      margin-bottom: 10px;
}

h3 {
      margin: 10px 0px; 
}

.content {
      padding-left: 20px;
}

#bg-green {
      background-color: mediumseagreen;
      color: white;
      padding: 5px;
      margin: 50px 0 50px 0;
}

.description-container {
      padding-bottom: 20px;
}

#bg-lightcoral {
      background-color: lightcoral;
      color: white;
      padding: 5px;
      margin: 50px 0 50px 0;
}

#bg-lightblue {
      background-color: lightblue;
      color: white;
      padding: 5px;
      margin: 50px 0 50px 0;
}